<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>content_1000.txt</string>
		<key>contentImage</key>
		<string>content_image_1000.jpg</string>
		<key>coverImage</key>
		<string>cover_1000.jpg</string>
		<key>title</key>
		<string>title_1000.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1001.txt</string>
		<key>contentImage</key>
		<string>content_image_1001.jpg</string>
		<key>coverImage</key>
		<string>cover_1001.jpg</string>
		<key>title</key>
		<string>title_1001.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1002.txt</string>
		<key>contentImage</key>
		<string>content_image_1002.jpg</string>
		<key>coverImage</key>
		<string>cover_1002.jpg</string>
		<key>title</key>
		<string>title_1002.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1003.txt</string>
		<key>contentImage</key>
		<string>content_image_1003.jpg</string>
		<key>coverImage</key>
		<string>cover_1003.jpg</string>
		<key>title</key>
		<string>title_1003.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1004.txt</string>
		<key>contentImage</key>
		<string>content_image_1004.jpg</string>
		<key>coverImage</key>
		<string>cover_1004.jpg</string>
		<key>title</key>
		<string>title_1004.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1005.txt</string>
		<key>contentImage</key>
		<string>content_image_1005.jpg</string>
		<key>coverImage</key>
		<string>cover_1005.jpg</string>
		<key>title</key>
		<string>title_1005.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1006.txt</string>
		<key>contentImage</key>
		<string>content_image_1006.jpg</string>
		<key>coverImage</key>
		<string>cover_1006.jpg</string>
		<key>title</key>
		<string>title_1006.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1007.txt</string>
		<key>contentImage</key>
		<string>content_image_1007.jpg</string>
		<key>coverImage</key>
		<string>cover_1007.jpg</string>
		<key>title</key>
		<string>title_1007.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1008.txt</string>
		<key>contentImage</key>
		<string>content_image_1008.jpg</string>
		<key>coverImage</key>
		<string>cover_1008.jpg</string>
		<key>title</key>
		<string>title_1008.txt</string>
	</dict>
	<dict>
		<key>content</key>
		<string>content_1009.txt</string>
		<key>contentImage</key>
		<string>content_image_1009.jpg</string>
		<key>coverImage</key>
		<string>cover_1009.jpg</string>
		<key>title</key>
		<string>title_1009.txt</string>
	</dict>
</array>
</plist>
